# Logs
logs
*.log

node_modules
saved-data
dist
dist-ssr
public
.firebase
*.local
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
