# Logs
logs
*.log

# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

node_modules
dist
dist-ssr
dev-dist
firebase-emulator
.firebase
*.local
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

service-account-key.json
